<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Verification</title>
    <style>
        * {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.title {
  max-width: 400px;
  margin: auto;
  text-align: center;
  font-family: "Poppins", sans-serif;
  h3 {
    font-weight: bold;
  }
  p {
    font-size: 12px;
    color: #118a44;
    &.msg {
      color: initial;
      text-align: initial;
      font-weight: bold;
    }
  }
}

.otp-input-fields {
  margin: auto;
  background-color: white;
  box-shadow: 0px 0px 8px 0px #02025044;
  max-width: 400px;
  width: auto;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 40px;

  input {
    height: 40px;
    width: 40px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #2f8f1f;
    text-align: center;
    outline: none;
    font-size: 16px;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    
    &:focus {
      border-width: 2px;
      border-color: darken(#2f8f1f, 5%);
      font-size: 20px;
    }
  }
}

.result {
  max-width: 400px;
  margin: auto;
  padding: 24px;
  text-align: center;
  p {
    font-size: 24px;
    font-family: "Antonio", sans-serif;
    opacity: 1;
    transition: color 0.5s ease;
    &._ok {
      color: green;
    }
    &._notok {
      color: red;
      border-radius: 3px;
    }
  }
}

    </style>
</head>
<body>
    <form method="post" action="/otpMatch" class="otp-form" name="otp-form">
  
        <div class="title">
          <h3>OTP VERIFICATION</h3>
          <p class="msg">Please enter OTP to verify</p>
        </div>
        <div class="otp-input-fields">
          <input type="number" name="otp1" class="otp__digit otp__field__1">
          <input type="number" name="otp2" class="otp__digit otp__field__2">
          <input type="number" name="otp3" class="otp__digit otp__field__3">
          <input type="number" name="otp4" class="otp__digit otp__field__4">
          <input type="number" name="otp5" class="otp__digit otp__field__5">
          <input type="number" name="otp6" class="otp__digit otp__field__6">
        </div>

        <button style="width: 200px;height: 50px;border: none;border-radius: 10px;margin-left: 45%;margin-top: 20px;font-size: 20px;background-color: #2f8f1f;color: white;">Verify OTP</button>
        
        <button style="width: 200px;height: 50px;border: none;border-radius: 10px;margin-left: 45%;margin-top: 20px;font-size: 20px;background-color: #cb2f1a;color: white;"><a href="/forgotPasswordForm" style="text-decoration: none;color: white;">Resend OTP</a></button>
        

        
        <h1 style="margin-left: 43%;font-size: 50px;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-style: italic;color: #2f8f1f;"><%=errorMsg[0]%></h1>
        
      </form>
</body>
<script>
    var otp_inputs = document.querySelectorAll(".otp__digit")
var mykey = "0123456789".split("")
otp_inputs.forEach((_)=>{
  _.addEventListener("keyup", handle_next_input)
})
function handle_next_input(event){
  let current = event.target
  let index = parseInt(current.classList[1].split("__")[2])
  current.value = event.key
  
  if(event.keyCode == 8 && index > 1){
    current.previousElementSibling.focus()
  }
  if(index < 6 && mykey.indexOf(""+event.key+"") != -1){
    var next = current.nextElementSibling;
    next.focus()
  }
  var _finalKey = ""
  for(let {value} of otp_inputs){
      _finalKey += value
  }
  if(_finalKey.length == 6){
    document.querySelector("#_otp").classList.replace("_notok", "_ok")
    document.querySelector("#_otp").innerText = _finalKey
  }else{
    document.querySelector("#_otp").classList.replace("_ok", "_notok")
    document.querySelector("#_otp").innerText = _finalKey
  }
}
</script>
</html>